<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Apuestas</title>
    <link rel="stylesheet" href="../Css/StyleMenu.css">
</head>
<body>
    <nav>
        <ul class="menu-horizontal">
            <li><a href="../View/index.html">Inicio</a></li>
            <li>
                <a href="#">Mi cuenta</a>
                <ul class="menu-vertical">
                    <li><a href="#">Consultar mis datos</a></li>
                    <li><a href="#">Editar mis datos</a></li>
                    <li><a href="#">Eliminarme</a></li>
                    <li>
                        <a href="#">Reportes</a>
                        <ul class="menu-vertical">
                            <li><a href="#">Todos</a></li>
                            <li><a href="#">Por nombre</a></li>
                            <li><a href="#">Por correo</a></li>
                            <li><a href="#">Por teléfono</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Deportes</a>
                <ul class="menu-vertical">
                    <li>
                        <a href="#">Futbol</a>
                        <ul class="menu-vertical">
                            <li><a href="#">Futbol de salon</a></li>
                            <li><a href="#">Futbol Freestyle</a></li>
                            <li><a href="#">Futbol 11</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Voleibol</a></li>
                    <li><a href="#">Baloncesto</a></li>
                    <li><a href="#">Tenis</a></li>
                    <li><a href="#">Atletismo</a></li>
                    <li><a href="#">Ciclismo</a></li>
                    <li><a href="#">Boxeo</a></li>
                </ul>
            </li>
            <li><a href="#">Apuestas Abiertas</a></li>
            <li>
                <a href="#">Recargas y Retiros</a>
                <ul class="menu-vertical">
                    <li><a href="#">Recargas Saldo</a></li>
                    <li><a href="#">Retirar Saldo</a></li>
                    <li><a href="#">Consultar mi saldo</a></li>
                    <li>
                        <a href="#">Reportes</a>
                        <ul class="menu-vertical">
                            <li><a href="#">Por recarga</a></li>
                            <li><a href="#">Por retiro</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/SportsBets360FMK/View/index.html">Cerrar sesion</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </nav>
</body>
</html>